<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false">
  Sorting <i class="ml-2 fas fa-angle-down"></i>
</a>
<div class="main-theme dropdown-menu dropdown-menu-right" style="width: 248px;">
  <a [routerLink]="['/sorting/insertionsort']" class="dropdown-item dropdown-item-account">
    Insertion sort
  </a>
  <a [routerLink]="['/sorting/mergesort']" class="dropdown-item dropdown-item-account">
    Merge sort
  </a>
  <a [routerLink]="['/sorting/quicksort']" class="dropdown-item dropdown-item-account">
    Quicksort
  </a>
  <a [routerLink]="['/sorting/selectionsort']" class="dropdown-item dropdown-item-account">
    Selection sort
  </a>
</div>
