.node {
  height: 28px;
  width: 28px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.wall {
  background-color: var(--background-hover-darker);
}

.start {
  background-color: var(--green);
}

.end {
  background-color: var(--red);
}
