<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true"
  aria-expanded="false">
  Searching <i class="ml-2 fas fa-angle-down"></i>
</a>
<div class="main-theme dropdown-menu dropdown-menu-right" style="width: 248px;">
  <a [routerLink]="['/searching/astar']" class="dropdown-item dropdown-item-account">
    A*
  </a>
  <a [routerLink]="['/searching/bfs']" class="dropdown-item dropdown-item-account">
    Breadth First Search
  </a>
  <a [routerLink]="['/searching/dfs']" class="dropdown-item dropdown-item-account">
    Depth First Search
  </a>
  <a [routerLink]="['/searching/dijkstras']" class="dropdown-item dropdown-item-account">
    Dijkstra's
  </a>
</div>
