<div class="my-navbar main-theme border-bottom">
  <nav class="navbar navbar-expand-lg">
    <h3 class="hint">{{ algorithmName }}</h3>

    <div class="nav-container">
      <ul class="nav-items">
        <li class="nav-item mr-4">
          <app-visualize-speed-setting [isPlaying]="isPlaying" [settings]="settings"></app-visualize-speed-setting>
        </li>
        <li class="nav-item mr-4">
          <button [disabled]="isPlaying" (click)="addRandomWalls()" class="btn btn-sm btn-secondary">
            Random Walls
          </button>
        </li>
        <li class="nav-item mr-4">
          <button [disabled]="isPlaying" (click)="resetGrid()" class="btn btn-sm btn-primary">
            Clear Path
          </button>
        </li>
        <li class="nav-item mr-4">
          <button [disabled]="isPlaying" (click)="clearWalls()" class="btn btn-sm btn-primary">
            Clear Walls
          </button>
        </li>
        <li class="nav-item">
          <button [disabled]="isPlaying" (click)="visualize()" class="btn btn-sm btn-success">
            Visualize <i class="ml-2 fas fa-play"></i>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</div>
